<h1 class="text-center">New Restaurant</h1>

<div class="container card p-4 shadow">
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: %w[chinese italian japanese french belgian], prompt: "Select a category" %>
  <%= f.submit %>
<% end %>
</div>

<div class="text-center mt-4">
<%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %>
</div>
