<h1 class="text-center"><%= @restaurant.name %></h1>

<div class="container">
<div class="card p-4 shadow">
  <p><strong>Address:</strong> <%= @restaurant.address %></p>
  <p><strong>Phone number:</strong> <%= @restaurant.phone_number.present? ? @restaurant.phone_number : "No contact information"  %>
  </p>
  <p><strong>Category:</strong> <%= (@restaurant.category).capitalize %></p>

  <h2>Reviews</h2>
    <% if @restaurant.reviews.any? %>
      <ul class="list-group">
        <% @restaurant.reviews.each do |review| %>
          <li class="list-group-item">
            <%= review.content %> -
            <%= "â­" * review.rating %>
          </li>
        <% end %>
      </ul>
        <% else %>
          <p class="text-muted">Be the first to leave a review!</p>
    <% end %>
    </div>
  </div>

  <div class="container card p-4 shadow">
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5], prompt: "Choose a rating" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>

<div class="text-center mt-4">
<%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %>
</div>
